extend ../basic
append head
	script(src='/public/js/account.js')
	link(rel='stylesheet' href='/public/css/users.css')
append content
	.__block
		h2 Редактирование пользователя

		form.col-xs-6._block(method='POST')
			p
				label Логин
				input(type="text" name="login" id="login" class="input-area form-control" value=user.login disabled)

			p
				label Ф.И.О.
				input(type="text" name="fullName" id="fullName" class="input-area form-control" value=user.fullName minlength="3" maxlength="50" placeholder="Полное имя" required)
			
			p
				label Номер телефона
				input(type="text" name="number" id="number" class="input-area form-control" value=user.number minlength="3" maxlength="50" placeholder="+71234567890")
			
			p
				label Email
				input(type="text" name="email" id="email" class="input-area form-control" value=user.email minlength="3" maxlength="50" placeholder="example@miranda-media.ru")

			p
				label Права
				if(user.login == 'admin')
					select(name="role" id="role" class="input-area form-control" required disabled)
						option(value='0') Администратор
				else
					select(name="role" id="role" class="input-area form-control" required)
						each role in roles
							if(role.id == user.role)
								option( selected value=role.id )= role.name
							else
								option( value=role.id )= role.name
			hr
			button(type="submit" class="btn btn-default" id="submit") Сохранить
			if(user.login != 'admin')
				if(user.status == 0)
					button(class="btn btn-danger block" onclick='return blockAcc()') Заблокировать
				if(user.status == 1)
					button(class="btn btn-success block" onclick='return blockAcc()') Разблокировать
				button(class="btn btn-danger delete" onclick='return deleteAcc()') Удалить
				
		form.col-xs-6._block(method='POST' action='/admin/users/'+ user.login +'/pass')
			p
				label Новый пароль
				input(type="password" name="pass" id="pass" class="input-area form-control" required)
			p
				label Повторите новый пароль
				input(type="password" name="passRep" id="passRep" class="input-area form-control" required)
			hr
			button(type="submit" class="btn btn-default" id="submit") Изменить пароль
