extend ../basic
append head
    link(rel='stylesheet' href='/public/css/exec.css')
    link(rel='stylesheet' href='/public/css/exec-new.css')

    script(src='/public/js/exec.js')
append content
    .__block
        h1 Справочник исполнителей
        br
        .addExec
            form(action='/admin/exec/add' method='POST')
                .row
                    .col-xs-4.col-md-2
                        input.form-control#addExec(type='text' name='name' required)
                    .col-xs-4.col-md-2        
                        select.form-control(type='text' name='manager')
                            option
                            each man in managers    
                                option(value = man.id )= man.name 
                    button(type='submit').btn.btn-default.col-xs-2.col-md-1 Добавить
        br
        .execs
            each exec in execs
                .exec(id='exec'+exec.id)
                    .exec__name
                        .exec__text= exec.name
                            if(exec.manager)
                                |  (#{exec.manager.name})
                        .exec__select
                            input.form-control(type='text' id='name'+exec.id value=exec.name)
                            | Бригадир : 
                            select.form-control(type='text' id='manager'+exec.id)
                                option
                                each man in managers
                                    if(exec.manager)
                                        option(value = man.id selected= (man.id == exec.manager.id ))= man.name 
                                    else
                                        option(value = man.id )= man.name 
                    .exec__action
                        .exec__edit(onclick='startEdit('+exec.id+')')
                            img( width='15' height='15' src='/public/edit.svg' title='Редактировать' alt='Edit')
                        if(!exec.usage)
                            .exec__delete(onclick='deleteExec('+exec.id+')')
                                img( width='15' height='15' src='/public/delete.svg' title='Удалить' alt='Delete')
                        .exec__save(onclick='saveExec('+exec.id+')')
                            img( width='15' height='15' src='/public/save.svg' title='Сохранить' alt='Save')
                        .exec__cancel(onclick='cancelEdit('+exec.id+')')
                            img( width='15' height='15' src='/public/cancel.svg' title='Отменить' alt='Cancel')