extend ../basic
append head
    link(rel='stylesheet' href='/public/css/exec.css')
    script(src='/public/js/manager.js')
append content
    .__block
        h1 Справочник бригадиров
        br
        .addExec
            form(action='/admin/managers/add' method='POST')
                .row
                    .col-xs-6.col-md-2
                        input.form-control#addExec(type='text' name='name' maxlength='30' required)
                    .col-xs-6.col-md-2
                        select.form-control(name='city' required)
                            each city in cities
                                option(value=city._id)= city.name
                                
                    button(type='submit').btn.btn-default.col-xs-2.col-md-1 Добавить
        br
        .table-exec
            table.table.table-hover
                tbody
                    each manager in managers
                        tr
                            td.fullName(id='item'+manager.id)
                                input.form-control.inpInvis(type='text' id='exec'+manager.id maxlength='30' value=manager.name)
                                span.control-label(id='label'+manager.id)= manager.name
                                    if(manager.city)
                                        | (#{manager.city.name})
                            td.fullName(id='item_city'+manager.id)
                                select.form-control.inpInvis(name='city' id='city'+manager.id  required)
                                    option
                                    each city in cities
                                        if(manager.city)
                                            option(value=city._id selected=(city.id == manager.city.id))= city.name
                                        else
                                            option(value=city._id)= city.name
                            td.fn.vis(id='edit'+manager.id onclick='startEdit('+manager.id+')')
                                img( width='15' height='15' src='/public/edit.svg' title='Редактировать' alt='Edit')
                            td.fn.invis(id='save'+manager.id onclick='saveMan("' + manager.name+ '",' +manager.id+ ')')
                                img( width='15' height='15' src='/public/save.svg' title='Сохранить' alt='Save')
                            if(!manager.usage)
                                td.fn.vis(id='rm'+manager.id onclick='deleteMan("'+manager.id+'")')
                                    img( width='15' height='15' src='/public/delete.svg' title='Удалить' alt='Delete')
                            else
                                td.fn.invis
                            td.fn.invis(id='cancel'+manager.id onclick='cancelEdit('+manager.id+')')
                                img( width='15' height='15' src='/public/cancel.svg' title='Отменить' alt='Cancel')
