extend basic
append head
    link(rel='stylesheet' href='/public/css/analitic.css')
    link(rel='stylesheet' href='/public/css/jquery-ui.css')
    script(src='/public/js/jquery-ui.min.js')
    script(src='/public/js/Chart.js')
    -var av = JSON.stringify(orders);
    -var ct = JSON.stringify(cities);
    -var ms = JSON.stringify(managers);
    -var es = JSON.stringify(execs);
    
    script.
        var av = JSON.parse(("#{av}").replace(/&quot;/g, '"'));
        var ct = JSON.parse(("#{ct}").replace(/&quot;/g, '"'));
        var ms = JSON.parse(("#{ms}").replace(/&quot;/g, '"'));
        var es = JSON.parse(("#{es}").replace(/&quot;/g, '"'));
        
        window.cities = ct;
        window.managers = ms;
        window.execs = es;
        
        window.orders = {};
        window.orders.all = av;
    script(src='/public/js/analitic.js')

    
append content
    .inf
        h3 Статистика
        br
        .qwerty    
            h4 Средние значения оценок клиентов по ГУС-ам
            .row
                //- p.all Всего заявок : #{orders.length}
                .typeSelect
                    label Тип работ :
                    select.form-control(onchange='changeMainType(this.value)')
                        option(value = '-1') Все
                        option(value = '0') Инсталяции
                        option(value = '1') Ремонт
                        
                .typeSelect
                    label Начальная дата :
                    input.form-control(type='date' id='downDate' onchange='changeMainDownDate(this.value)')
                        
                .typeSelect
                    label Конечная дата :
                    input.form-control(type='date' id='upDate' onchange='changeMainUpDate(this.value)')
                        
                .typeSelect
                    label Сортировка :
                    select.form-control(onchange='changeMainSort(this.value)' disabled)
                        option(value = '0')
                        option(value = '1') По 1-му вопросу
                        option(value = '2') По 2-му вопросу
                        option(value = '3') По 3-му вопросу
                        option(value = '4') По 4-му вопросу
                        
            .row
                br
                .mainChart
                    canvas(id='mainChart' width="800" height="400")
            br
            h4 Проработанные заявки
            .row
                .typeSelect_big
                    label ГУС :
                    select.form-control(onchange='changePieDep(this.value)')
                        option(value = '-1') Все
                        each city in cities
                            option(value = city._id)= city.name
                        
                .pieChart 
                    br
                    canvas(id='pieChart' width="350" height="350")    
                button.btn.btn-success.link(onclick='location="/orders?filter=comment"') Показать заявки с коментариями
                
            h4 Статистика по бригадирам
            .row
                br
                .managerChart
                    canvas(id='managerChart' width="800" height="400")
            br
            h4 Статистика по исполнителям
            .row
                .typeSelect_big
                    label Бригадир :
                    select.form-control(onchange='changeManager(this.value)')
                        option
                        each m in managers
                            option(value=m._id)= m.name
            .row
                br
                .execChart
                    canvas(id='execChart' width="1000" height="400")
            br
