extend ../basic
append head
    link(rel='stylesheet' href='/public/css/order.css')
    script(src='/public/js/order.js')
append content
    -function dateToStr(value) {
    -    var year = value.getFullYear();
    -    var month = value.getMonth() + 1;
    -    if(month < 10) {
    -        month = '0' + month;
    -    }
    -    var day = value.getDate();
    -    if(day < 10) {
    -        day = '0' + day;
    -    }
    -    return  day + '.' + month + '.' + year;
    -}
    h3 Поиск заявок
    .table-responsive.container-fluid
        table.table.table-hover#myTable
            thead
                tr
                    th Номер
                    th Дата инициации
                    th Дата выезда
                    th Инициатор
                    th Тип проведенных работ
                    th Ф.И.О. клиента
            tbody
                each order in orders
                    if(order.answers != null)
                        tr(onclick="location = '/orders/" + order.id + "'" class=(order.answers.values[0] == -1)?'order_not_answers':'').item
                            td №#{order.id}
                            td= dateToStr(order.info.dateInit)
                            td= dateToStr(order.info.dateEvent)
                            td= deps[order.author.department].name
                            if(order.type == 0)
                                td Инсталляция
                            else
                                td Ремонт
                            td= order.info.nameAbon
                    else
                        tr(onclick="location = '/orders/" + order.id + "'").item
                            td №#{order.id}
                            td= dateToStr(order.info.dateInit)
                            td= dateToStr(order.info.dateEvent)
                            td= deps[order.author.department].name
                            if(order.type == 0)
                                td Инсталяция
                            else
                                td Ремонт
                            td= order.info.nameAbon
                            
