extend ../basic
append head
    link(rel='stylesheet' href='/public/css/order.css')
    script(src='/public/js/order.js')
append content
    .__block
        h2 Редактирование заявки
        -if(__user.role == 2) var flag = true;
        -if(__user.role == 3) var flag = false;
        form.form-horizontal(method='POST')
            ul.list-group
                li.list-group-item
                    .form-group
                        label.control-label.col-sm-3 Тип проведенных работ
                        .col-sm-6
                            select.form-control(onChange='changeType(this.value)' name='type' disabled=(!flag==true)?true:false required)
                                option(value='0' selected=(order.type==0)?true:false) Инсталяция
                                option(value='1' selected=(order.type==1)?true:false) Ремонт
                li.list-group-item
                    .form-group
                        label.control-label.col-sm-3 Дата выезда
                        .col-sm-6
                            input.form-control(type='date' name='date' value=date disabled=(!flag==true)?true:false required)
                li.list-group-item
                    .form-group
                        label.control-label.col-sm-3 Ф.И.О. абонента
                        .col-sm-6
                            input.form-control(type='text' name='nameAbon' value=order.nameAbon disabled=(!flag==true)?true:false required)
                li.list-group-item
                    .form-group
                        label.control-label.col-sm-3 Номер телефона абонента
                        .col-sm-6
                            input.form-control(type='text' name='phone' value=order.phone disabled=(!flag==true)?true:false required)
                li.list-group-item
                    .form-group
                        label.control-label.col-sm-3 Адрес
                        .col-sm-6
                            input.form-control(type='text' name='adress' value=order.adress disabled=(!flag==true)?true:false required)
                li.list-group-item
                    .form-group
                        label.control-label.col-sm-3 Ф.И.О. исполнителя
                        .col-sm-6
                            input.form-control.inpt(type='text' name='nameExec1' value=__user.fullName disabled required)
                li.list-group-item
                    .form-group
                        label.control-label.col-sm-3 
                        .col-sm-6
                            input.form-control.inpt(type='text' name='nameExec2' value=order.nameExec[1] disabled=(!flag==true)?true:false)
                li.list-group-item
                    .form-group
                        label.control-label.col-sm-3
                        .col-sm-6
                            input.form-control.inpt(type='text' name='nameExec3' value=order.nameExec[2] disabled=(!flag==true)?true:false)
                li.list-group-item( class=(order.type==1)?'repairs':'repairs_hide')
                    .form-group
                        label.control-label.col-sm-3 Номер ТТ
                        .col-sm-6
                            input.form-control(type='text' name='numberTT' value=order.numberTT disabled=(!flag==true)?true:false)
                li.list-group-item( class=(order.type==1)?'repairs':'repairs_hide')
                    .form-group
                        label.control-label.col-sm-3 Тема ТТ
                        .col-sm-6
                            input.form-control(type='text' name='themeTT' value=order.themeTT disabled=(!flag==true)?true:false)
                                
                li.list-group-item.install( class=(order.type==0)?'install':'install_hide')
                    .form-group
                        label.control-label.col-sm-3 Лицевой счет
                        .col-sm-6
                            input.form-control(type='text' name='personalAcc' value=order.personalAcc disabled=(!flag==true)?true:false)                
                li.list-group-item( class=(order.type==0)?'install':'install_hide')
                    .form-group
                        label.control-label.col-sm-3 Ф.И.О. подрядчика
                        .col-sm-6
                            input.form-control(type='text' name='nameCont' value=order.nameCont disabled=(!flag==true)?true:false)
            if(order.type == '0')
                ul.list-group
                    li.zapol.list-group-item
                        .form-group
                            label.control-label.col-sm-5 Устроило ли клиента время/сроки подключения услуги?
                            .col-sm-1
                                .small
                                    input.form-control(type='number' name='first' min='0' max='10' value=order.answers.firstQ  disabled=(!flag==false)?true:false)
                    li.list-group-item.zapol
                        .form-group
                            label.control-label.col-sm-5 Соответствует ли Вашим ожиданиям скорость/качество услуги выбранному тарифному плану? 
                            .col-sm-1
                                .small
                                    input.form-control(type='number' name='sec' min='0' max='10' value=order.answers.secQ disabled=(!flag==false)?true:false)
                    li.list-group-item.zapol
                        .form-group
                            label.control-label.col-sm-5 Продемонстрировали ли Вам возможность входа в Личный кабинет, самостоятельной проверки скорости, где и как оплатить?  
                            .col-sm-1
                                .small
                                    select.form-control(name='third' disabled=(!flag==false)?true:false)
                                        option
                                        option(value='0' selected=(order.answers.thirdQ == false)?true:false) Нет
                                        option(value='1' selected=(order.answers.thirdQ == true)?true:false) Да
                    li.list-group-item.zapol
                        .form-group
                            label.control-label.col-sm-5 Рекомендации клиента по улучшению
                            .col-sm-5
                                textarea.form-control(rows=5 name='comment' disabled=(!flag==false)?true:false )= order.answers.comment
            else     
                ul.list-group   
                    li.list-group-item
                        .form-group
                            label.control-label.col-sm-5 Устроило ли Вас время/ сроки решения Вашего вопроса?
                            .col-sm-1
                                .small
                                    input.form-control(type='number' name='first' min='0' max='10' value=order.answers.firstQ disabled=(!flag==false)?true:false)
                    li.list-group-item
                        .form-group
                            label.control-label.col-sm-5 Соответствует ли параметры услуги (скорость/качество услуги) выбранному тарифному плану? 
                            .col-sm-1
                                .small
                                    input.form-control(type='number' name='sec' min='0' max='10' value=order.answers.secQ disabled=(!flag==false)?true:false)
                    li.list-group-item
                        .form-group
                            label.control-label.col-sm-5 Продемонстрировали ли Вам возможность входа в Личный кабинет, самостоятельной проверки скорости 
                            .col-sm-1
                                .small
                                    select.form-control(name='third' disabled=(!flag==false)?true:false)
                                        option
                                        option(value='0' selected=(order.answers.thirdQ == false)?true:false) Нет
                                        option(value='1' selected=(order.answers.thirdQ == true)?true:false) Да
                    li.list-group-item.zapol
                        .form-group
                            label.control-label.col-sm-5 Рекомендации клиента по улучшению
                            .col-sm-5
                                textarea.form-control(rows=5 name='comment' disabled=(!flag==false)?true:false)= order.answers.comment
            button(type='submit').btn.btn-success.col-sm-offset-5.col-sm-3.subm Сохранить
