extend ../basic
append head
    link(rel='stylesheet' href='/public/css/order.css')
    script(src='/public/js/order.js')
append content
    .__block
        h2 Отзыв клиента
        hr
        .form-horizontal
            ul.list-group
                li.list-group-item
                    .form-group
                        label.control-label.col-sm-3 Тип проведенных работ
                        .col-sm-6
                            select.form-control(onChange='changeType(this.value)' required disabled)
                                if(order.type == 0)
                                    option(value='0' selected) Инсталяция
                                else
                                    option(value='1' selected) Ремонт
                li.list-group-item
                    .form-group
                        label.control-label.col-sm-3 Дата выезда
                        .col-sm-2
                            input.form-control(type='date' value=date required disabled)
                li.list-group-item
                    .form-group
                        label.control-label.col-sm-3 Ф.И.О. абонента
                        .col-sm-6
                            input.form-control(type='text' value=order.nameAbon required disabled)
                li.list-group-item
                    .form-group
                        label.control-label.col-sm-3 Номер телефона абонента
                        .col-sm-3
                            input.form-control(type='text' value=order.phone required disabled)
                li.list-group-item
                    .form-group
                        label.control-label.col-sm-3 Адрес
                        .col-sm-6
                            input.form-control(type='text' value=order.adress required disabled)
                each name in order.nameExec
                    li.list-group-item
                        .form-group
                            label.control-label.col-sm-3 Ф.И.О. исполнителя
                            .col-sm-6
                                input.form-control(type='text' value=name disabled)
                                
                if(order.type == '1')
                    li.list-group-item.repairs
                        .form-group
                            label.control-label.col-sm-3 Номер ТТ
                            .col-sm-6
                                input.form-control(type='text' value=order.numberTT disabled)
                    li.list-group-item.repairs
                        .form-group
                            label.control-label.col-sm-3 Тема ТТ
                            .col-sm-6
                                input.form-control(type='text' value=order.themeTT disabled)
                else                
                    li.list-group-item
                        .form-group
                            label.control-label.col-sm-3 Ф.И.О. подрядчика
                            .col-sm-6
                                input.form-control(type='text' value=order.nameCont disabled)
                                    
                    li.list-group-item.install
                        .form-group
                            label.control-label.col-sm-3 Лицевой счет
                            .col-sm-3
                                input.form-control(type='text' value=order.personalAcc disabled)
                                    
            form(method='POST')
                if(order.type == '0')
                        ul.list-group
                            li.zapol.list-group-item
                                .form-group
                                    label.control-label.col-sm-5 Устроило ли клиента время/сроки подключения услуги?
                                    .col-sm-1
                                        .small
                                            input.form-control(type='number' name='first' min='0' max='10' value='0' )
                            li.list-group-item.zapol
                                .form-group
                                    label.control-label.col-sm-5 Соответствует ли Вашим ожиданиям скорость/качество услуги выбранному тарифному плану? 
                                    .col-sm-1
                                        .small
                                            input.form-control(type='number' name='sec' min='0' max='10' value='0' )
                            li.list-group-item.zapol
                                .form-group
                                    label.control-label.col-sm-5 Продемонстрировали ли Вам возможность входа в Личный кабинет, самостоятельной проверки скорости, где и как оплатить?  
                                    .col-sm-1
                                        .small
                                            select.form-control(name='third')
                                                option(value='0') Нет
                                                option(value='1' selected) Да
                            li.list-group-item.zapol
                                .form-group
                                    label.control-label.col-sm-5 Рекомендации клиента по улучшению
                                    .col-sm-5
                                        textarea.form-control(rows=5 name='comment')
                else     
                        ul.list-group   
                            li.list-group-item.install
                                .form-group
                                    label.control-label.col-sm-5 Устроило ли Вас время/ сроки решения Вашего вопроса?
                                    .col-sm-1
                                        .small
                                            input.form-control(type='number' name='first' min='0' max='10' value='0' )
                            li.list-group-item.install
                                .form-group
                                    label.control-label.col-sm-5 Соответствует ли параметры услуги (скорость/качество услуги) выбранному тарифному плану? 
                                    .col-sm-1
                                        .small
                                            input.form-control(type='number' name='sec' min='0' max='10' value='0' )
                            li.list-group-item.install
                                .form-group
                                    label.control-label.col-sm-5 Продемонстрировали ли Вам возможность входа в Личный кабинет, самостоятельной проверки скорости 
                                    .col-sm-1
                                        .small
                                            select.form-control(name='third')
                                                option(value='0') Нет
                                                option(value='1' selected) Да
                            li.list-group-item.zapol
                                .form-group
                                    label.control-label.col-sm-5 Рекомендации клиента по улучшению
                                    .col-sm-5
                                        textarea.form-control(rows=5 name='comment')
                button(type='submit').btn.btn-success.col-sm-offset-5.col-sm-3.subm Сохранить отзыв
