extend ../basic
append head
    link(rel='stylesheet' href='/public/css/order.css')
    script(src='/public/js/order.js')
append content
    -function dateToStr(value) {
    -    var year = value.getFullYear();
    -    var month = value.getMonth() + 1;
    -    if(month < 10) {
    -        month = '0' + month;
    -    }
    -    var day = value.getDate();
    -    if(day < 10) {
    -        day = '0' + day;
    -    }
    -    return  day + '.' + month + '.' + year;
    -}
    if(success) 
        script.
            var notyf = new Notyf();
            notyf.confirm('Заявка была успешно сохранена!');
    h3 Заявки для проработки
    .table-responsive.container-fluid
        table.table.table-hover
            thead
                tr
                    th Номер
                    th Дата инициации
                    th Дата выезда
                    th Инициатор
                    th Тип проведенных работ
                    th Ф.И.О. клиента
            tbody
                each order in orders
                    tr(onclick="location = '/collector/orders/" + order.id + "'")
                        td №#{order.id}
                        td= dateToStr(order.info.dateInit)
                        td= dateToStr(order.info.dateEvent)
                        td= deps[order.author.department].name
                        if(order.type == 0)
                            td Инсталяция
                        else
                            td Ремонт
                        td= order.info.nameAbon
